.advantages {
  background-image: url("../../img/advantages-desktop.jpg");
  background-color: $pattens-blue;
  padding-top: 110px;
  padding-bottom: 120px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantages-desktop@2x.jpg");
  }
}

.advantages h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 50px;
  color: $tangaroa;
  text-align: center;
}

.advantages ul {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 3%;
}

.advantages__item {
  background-color: $alice-blue;
  padding: 30px;
  height: 241px;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--liner::before {
    background-image: url("../../img/advantages-liner.svg");
    width: 27px;
    height: 32px;
  }

  &--allinclusive::before {
    background-image: url("../../img/advantages-allinclusive.svg");
    width: 38px;
    height: 21px;
    margin-left: 2px;
    margin-top: 4px;
  }

  &--zodiac::before {
    background-image: url("../../img/advantages-zodiac.svg");
    width: 42px;
    height: 15px;
    margin-top: 11px;
    margin-left: 4px;
  }
}

.advantages__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 49px;
  color: $tangaroa;
}

.advantages__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 0;
  color: $tangaroa;
}

.advantages__text--allinclusive {
  padding-right: 18px;
}

.advantages__text--zodiac {
  padding-right: 55px;
}

@media (max-width: $tablet-size-max) {
  .advantages {
    background-image: url("../../img/advantages-tablet.jpg");
    padding-top: 89px;
    padding-bottom: 100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantages-tablet@2x.jpg");
    }
  }

  .advantages ul {
    gap: 4%;
  }

  .advantages h2 {
    font-size: 26px;
  }

  .advantages__item h3 {
    line-height: 140%;
  }

  .advantages__item {
    padding: 20px;
    height: 310px;

    &--liner::before {
      background-image: url("../../img/liner-tablet.svg");
      width: 21px;
      height: 26px;
      margin-top: 5px;
    }

    &--allinclusive::before {
      background-image: url("../../img/allinclusive-tablet.svg");
      width: 33px;
      height: 19px;
      margin-left: -1px;
      margin-top: 10px;
    }

    &--zodiac::before {
      background-image: url("../../img/zodiac-tablet.svg");
      width: 38px;
      height: 13px;
      margin-top: 12px;
      margin-left: 2px;
    }
  }

  .advantages__text--allinclusive {
    padding-right: 0;
  }

  .advantages__text--zodiac {
    padding-right: 0;
  }
}

@media (max-width: $mobile-size-max) {
  .advantages {
    background-image: url("../../img/advantages-mobile.jpg");
    padding-top: 56px;
    padding-bottom: 64px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantages-mobile@2x.jpg");
    }
  }

  .advantages ul {
    display: block;
  }

  .advantages h2 {
    font-size: 24px;
    margin-bottom: 31px;
  }

  .advantages__item {
    width: 100%;
    height: 250px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    & h3 {
      padding-right: 50px;
    }

    &--allinclusive::before {
      margin-left: 0px;
      margin-top: 8px;
    }

    &--zodiac::before {
      margin-top: 11px;
      margin-left: 0px;
    }
  }
}
