.advantages {
  padding-top: 110px;
  padding-bottom: 120px;

  background-color: $pattens-blue;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background-image: url("../img/advantages-desktop.jpg");

    @supports (background-image: url("../img/advantages-desktop.webp")) {
      background-image: url("../img/advantages-desktop.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-desktop@2x.jpg");

      @supports (background-image: url("../img/advantages-desktop@2x.webp")) {
        background-image: url("../img/advantages-desktop@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    padding-top: 89px;
    padding-bottom: 102px;

    background-image: url("../img/advantages-tablet.jpg");

    @supports (background-image: url("../img/advantages-tablet.webp")) {
      background-image: url("../img/advantages-tablet.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-tablet@2x.jpg");

      @supports (background-image: url("../img/advantages-tablet@2x.webp")) {
        background-image: url("../img/advantages-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 56px;
    padding-bottom: 67px;

    background-image: url("../img/advantages-mobile.jpg");

    @supports (background-image: url("../img/advantages-mobile.webp")) {
      background-image: url("../img/advantages-mobile.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-mobile@2x.jpg");

      @supports (background-image: url("../img/advantages-mobile@2x.webp")) {
        background-image: url("../img/advantages-mobile@2x.webp");
      }
    }
  }
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 48px;

  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 50px;

    font-size: 26px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 31px;

    font-size: 24px;
  }
}

.advantages ul {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-size-max) {
    gap: 30px;
  }

  @media (max-width: $mobile-size-max) {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  min-height: 241px;
  padding: 82px 30px 25px;

  background-color: $alice-blue;
  background-repeat: no-repeat;

  @media (max-width: $tablet-size-max) {
    padding: 71px 17px 20px 20px;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 20px;
  }

  &--liner {
    background-image: url("../img/advantages-liner.svg");
    background-position: 30px 30px;
    background-size: 27px 32px;

    @media (max-width: $tablet-size-max) {
      background-position: 20px 25px;
      background-size: 21px 26px;
    }
  }

  &--allinclusive {
    background-image: url("../img/advantages-allinclusive.svg");
    background-position: 32px 35px;
    background-size: 38px 21px;

    @media (max-width: $tablet-size-max) {
      background-position: 19px 29px;
      background-size: 33px 19px;
    }
  }

  &--zodiac {
    background-image: url("../img/advantages-zodiac.svg");
    background-position: 33px 37px;
    background-size: 42px 15px;

    @media (max-width: $tablet-size-max) {
      background-position: 20px 33px;
      background-size: 38px 13px;
    }
  }
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    line-height: 25px;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 50px;
  }
}

.advantages__item p {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $tangaroa;
}

.advantages__item--allinclusive p {
  padding-right: 18px;

  @media (max-width: $tablet-size-max) {
    padding-right: 0;
  }
}

.advantages__item--zodiac p {
  padding-right: 55px;

  @media (max-width: $tablet-size-max) {
    padding-right: 0;
  }
}
