.antarctic h1{
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $alice-blue;
  text-shadow: 0px 4px 4px $color-default-white 0.25;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 198px;
  top: 270px;
  letter-spacing: -0.9px;
}

.antarctic p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $alice-blue;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 198px;
  top: 349px;
}

@media (max-width:$tablet-size-max) {
  .antarctic h1 {
    font-size: 50px;
    line-height: 61px;
    left: 44px;
    top: 268px;
   }

   .antarctic p {
      font-size: 18px;
      line-height: 22px;
      left: 45px;
      top: 340px;
    }
  }

@media (max-width:$mobile-size-max) {
  .antarctic h1 {
    font-size: 36px;
    line-height: 125%;
    left: 15px;
    top: 176px;
  }

  .antarctic p {
    font-size: 16px;
    left: 15px;
    top: 281px;
    margin-top: -5px;
  }

  .is-mobile-menu-open {
    display: none;
  }
}
