.antarctic h1 {
  position: absolute;
  top: 270px;
  left: 198px;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $alice-blue;
  letter-spacing: -0.9px;
  text-shadow: 0 4px 4px $color-default-white 0.25;
}

.antarctic p {
  position: absolute;
  top: 349px;
  left: 198px;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $alice-blue;
}

@media (max-width: $tablet-size-max) {
  .antarctic h1 {
    top: 268px;
    left: 44px;

    font-size: 50px;
    line-height: 61px;
  }

  .antarctic p {
    top: 340px;
    left: 45px;

    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-size-max) {
  .antarctic h1 {
    top: 176px;
    left: 15px;

    font-size: 36px;
    line-height: 125%;
  }

  .antarctic p {
    top: 281px;
    left: 15px;

    margin-top: -5px;

    font-size: 16px;
  }

  .is-mobile-menu-open {
    display: none;
  }
}
