.booking {
  padding-top: 54px;
  padding-bottom: 50px;

  background-color: $pattens-blue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background-image: url("../img/booking.jpg") no-repeat center/cover;

    @supports (background: url("../img/booking.webp")) {
      background: url("../img/booking.webp") no-repeat center/cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/booking@2x.jpg") no-repeat center/cover;

      @supports (background: url("../img/booking@2x.webp")) {
        background: url("../img/booking@2x.webp") no-repeat center/cover;
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    padding-top: 52px;
    padding-bottom: 102px;

    background-image: url("../img/booking-tablet.jpg") no-repeat center/cover;

    @supports (background: url("../img/booking-tablet.webp")) {
      background: url("../img/booking-tablet.webp") no-repeat center/cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/booking-tablet@2x.jpg") no-repeat
        center/cover;

      @supports (background: url("../img/booking-tablet@2x.webp")) {
        background: url("../img/booking-tablet@2x.webp") no-repeat center/cover;
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 21px;
    padding-bottom: 65px;

    background-image: url("../img/booking-mobile.jpg") no-repeat center/cover;

    @supports (background: url("../img/booking-mobile.webp")) {
      background: url("../img/booking-mobile.webp") no-repeat center/cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/booking-mobile@2x.jpg") no-repeat
        center/cover;

      @supports (background: url("../img/booking-mobile@2x.webp")) {
        background: url("../img/booking-mobile@2x.webp") no-repeat center/cover;
      }
    }
  }
}

.booking__wrapper {
  display: grid;
  align-items: center;
  padding: 0 60px;

  column-gap: 144px;

  grid-template-columns: repeat(2, auto);

  @media (max-width: $tablet-size-max) {
    display: block;
  }

  @media (max-width: $mobile-size-max) {
    padding: 0;
  }
}

.booking__text {
  padding: 122px 0 131px;

  @media (max-width: $tablet-size-max) {
    padding-top: 38px;
    padding-bottom: 51px;

    text-align: center;
  }

  @media (max-width: $mobile-size-max) {
    padding-bottom: 34px;
  }
}

.booking h2 {
  margin-top: 0;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
    margin-bottom: 3px;

    font-size: 34px;
    line-height: 51px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 31px;
  }
}

.booking p {
  max-width: 400px;
  margin: 0;

  font-size: 18px;
  line-height: 27px;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 270px;

    font-size: 16px;
    line-height: 22px;
  }
}

.booking__form-wrapper {
  width: 403px;
  max-height: 455px;
  padding: 43px 50px 50px;

  background-color: $tangaroa;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);

  @media (max-width: $tablet-size-max) {
    margin: 0 auto;
    padding-top: 45px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    max-height: 460px;
    padding: 35px 30px 40px;
  }
}

.booking__form-wrapper p {
  margin-bottom: 26px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 27px;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

.booking__inputs input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 14px 8px;

  font-size: 14px;
  line-height: 21px;
  font-family: $ff-placeholder;
  color: rgba(1, 28, 64, 1);

  background-color: #f9fbfd;
  border: 2px solid transparent;
  cursor: text;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $java;
  }

  &::placeholder {
    color: rgba(1, 28, 64, 0.7);
  }
}

.booking__check {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 30px;

  color: #f9fbfd;

  gap: 6px;

  @media (max-width: $mobile-size-max) {
    align-items: start;
    margin-bottom: 27px;

    gap: 8px;
  }
}

.booking__check label {
  font-size: 10px;
  line-height: 13px;

  @media (max-width: $mobile-size-max) {
    line-height: 12px;
  }
}

.booking__check input[type="checkbox"] {
  width: 18px;
  height: 18px;

  background-color: #f9fbfd;
  cursor: pointer;

  appearance: none;

  @media (max-width: $mobile-size-max) {
    width: 27px;
    height: 20px;
  }
}

.booking__check input[type="checkbox"]:checked {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
