.is-valid {
  border: 1px solid $apple;
}

.is-invalid {
  border: 1px solid $free-speech-red;
}

.booking {
  background-image: url("../../img/booking.jpg");
  background-color: $pattens-blue;
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}

.booking h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
  color: $tangaroa;
  grid-column: 1/2;
  grid-row: 1/2;
}

.booking p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
  color: $tangaroa;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.booking__form {
  background-color: $tangaroa;
  box-shadow: 0px 4px 45px $tangaroa 0.15;
  padding: 50px;
  width: 70%;
  height: 455px;
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.is-invalid {
  border: red;
}

.booking__form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
  color: $alice-blue;
}

.booking__form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $tangaroa;
  opacity: 0.7;
  width: 100%;
  height: 43px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.booking__label-agree {
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color:$alice-blue;
}

.booking__input-agree {
  width: 18px;
  height: 18px;
}

.booking button {
  height: 43px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $tangaroa;
  background-color: $alice-blue;
}


@media (max-width: $tablet-size-max) {
  .booking {
    background-image: url("../../img/booking-tablet.jpg");
  }

  .booking__wrapper {
    display: block;
  }

  .booking__form {
    width: 53%;
    transition: width 0.5s;
  }

  .booking h2 {
    font-size: 34px;
  }
}

@media (max-width: $mobile-size-max) {
  .booking {
    background-image: url("../../img/booking-mobile.jpg");
  }

  .booking__form {
    padding: 40px 30px;
    width: 100%;
  }

  .booking__form p {
    line-height: 140%;
  }

  .booking h2 {
    font-size: 24px;
    line-height: 130%;
  }

  .booking p {
    font-size: 16px;
    line-height: 140%;
  }
}
