.button {
  width: 100%;
  min-height: 43px;

  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $tangaroa;

  background-color: $alice-blue;
  border: none;

  &:hover,
  &:focus {
    background-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}
