.catalog {
  padding-top: 110px;
  padding-bottom: 122px;
}

.catalog h2 {
  margin-top: 0;
  margin-bottom: 45px;

  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: $tangaroa;
}

.catalog ul {
  display: grid;
  margin: 0 15px;

  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog__item {
  width: 22%;
  height: 386px;

  cursor: pointer;
}

.catalog__item h3 {
  position: absolute;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: $alice-blue;
}

.catalog__item img {
  max-width: none;
  height: 386px;

  background-color: $sail;
  background-size: cover;
}

.catalog__photo {
  position: absolute;

  display: block;
  height: 386px;
}

.catalog__photo h3 {
  bottom: 20px;
  left: 30px;
}

.catalog__product-info {
  position: absolute;
  z-index: -1;

  width: 260px;
  height: 386px;
  padding: 22px;
  overflow-y: auto;

  background-color: $tangaroa;
}

.catalog__product-info h3 {
  top: 0;
  left: 20px;
}

.catalog__product-info h4 {
  position: absolute;
}

.catalog__product-info dl {
  margin-top: 47px;
  margin-bottom: 33px;
  margin-left: 3px;
}

.catalog__product-info dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $alice-blue;
}

.catalog__product-info dd {
  margin-bottom: 12px;
  margin-left: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $quartz;
}

.catalog__item:hover .catalog__photo,
.catalog__item:focus-within .catalog__photo {
  z-index: -1;

  opacity: 0;
}

.catalog__item:hover .catalog__product-info,
.catalog__item:focus-within .catalog__product-info {
  z-index: 1;

  opacity: 1;
}

// .catalog__item:hover .catalog__photo {
//   display: none;
// }

// .catalog__item:hover .catalog__item h3 {
//   line-height: 150%;

//   transform: translate(3px, 6px);

//   transition: transform 1s;
// }

@media (max-width: $tablet-size-max) {
  .catalog {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .catalog h2 {
    margin-bottom: 49px;

    font-size: 26px;
  }

  .catalog ul {
    margin: 0 15px;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__photo h3 {
    bottom: 28px;
    left: 35px;
  }

  .catalog__item img {
    width: 309px;
  }

  .catalog__product-info {
    width: 309px;
    padding-left: 32px;
  }

  .catalog__product-info h3 {
    top: 29px;
    left: 36px;
  }
}

@media (max-width: $mobile-size-max) {
  .catalog {
    padding-top: 56px;
    padding-bottom: 65px;
  }

  .catalog ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
  }

  .catalog__item {
    width: 270px;
    max-width: 100%;
  }

  .catalog__item img {
    width: 270px;
  }

  .catalog h2 {
    margin-bottom: 31px;

    font-size: 24px;
  }

  .catalog__photo h3 {
    bottom: 18px;
    left: 25px;
  }

  .catalog__product-info {
    width: 270px;
    padding-left: 22px;
  }

  .catalog__product-info h3 {
    left: 25px;
  }
}
