.catalog {
  padding-top: 110px;
  padding-bottom: 147px;
}

.catalog h2 {
  margin-top: 0;
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: $tangaroa;
}

.catalog ul {
  display: grid;
  margin: 0 15px;

  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog__item {
  width: 22%;
  height: 386px;

  cursor: pointer;
}

.catalog__item h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: $alice-blue;

  transform: translate(31px, 363px);
  // transform: translate(25px,56px);
}

.catalog__item img {
  max-width: none;
  height: 386px;

  background-color: $sail;
  background-size: cover;
}

.catalog__photo {
  display: block;
  width: 100%;
  height: 386px;
}

.catalog__product-info {
  position: relative;
  z-index: -1;

  display: none;
  width: 260px;
  height: 386px;
  padding: 22px;

  background-color: $tangaroa;

  .catalog__product-info dl {
    margin-top: 47px;
    margin-bottom: 33px;
    margin-left: 3px;
  }

  .catalog__product-info dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $alice-blue;
  }

  .catalog__product-info dd {
    margin-bottom: 12px;
    margin-left: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $quartz;
  }
}

.catalog__item:hover .catalog__product-info {
  display: block;
}

.catalog__item:hover .catalog__photo {
  display: none;
}

.catalog__item:hover .catalog__item h3 {
  line-height: 150%;

  transform: translate(3px, 6px);

  transition: transform 1s;
}

@media (max-width: $tablet-size-max) {
  .catalog {
    padding-top: 37px;
  }

  .catalog h2 {
    font-size: 26px;
  }

  .catalog ul {
    margin: 0 15px;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $mobile-size-max) {
  .catalog {
    padding-top: 56px;
  }

  .catalog ul {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 270px;
    max-width: 100%;
  }

  .catalog__item img {
    width: 270px;
  }

  .catalog__product-info {
    width: 270px;
  }

  .catalog h2 {
    margin-bottom: 4px;

    font-size: 24px;
  }
}
