.catalog {
  padding-top: 110px;
  padding-bottom: 118px;

  @media (max-width: $tablet-size-max) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.catalog .container {
  padding: 0 35px;

  @media (max-width: $tablet-size-max) {
    padding: 0 60px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 0 25px;
  }
}

.catalog h2 {
  margin-top: 0;
  margin-bottom: 49px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 29px;

    font-size: 24px;
    line-height: 36px;
  }
}

.catalog ul {
  display: grid;
  width: 100%;

  gap: 30px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-size-max) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile-size-max) {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;

  display: grid;
  max-width: 100%;
  height: auto;

  grid-template-columns: 1fr;

  @media (max-width: $tablet-size-max) {
    width: 309px;

    justify-self: center;
  }

  @media (max-width: $mobile-size-max) {
    width: 270px;
  }
}

.catalog__item h3 {
  position: absolute;
  right: 30px;
  bottom: 23px;
  left: 30px;
  z-index: 2;

  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;

  @media (max-width: $tablet-size-max) {
    right: 35px;
    bottom: 27px;
    left: 35px;
  }

  @media (max-width: $mobile-size-max) {
    right: 25px;
    bottom: 17px;
    left: 25px;
  }
}

.catalog__photo {
  z-index: 2;

  max-width: 100%;
  height: auto;

  grid-column: 1/-1;
  grid-row: 1/2;
}

.catalog__photo img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (max-width: $tablet-size-max) {
    width: 309px;
    height: 386px;
  }

  @media (max-width: $mobile-size-max) {
    width: 270px;
    max-width: 100%;
  }
}

.catalog__product-info {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  height: 386px;
  padding: 28px 25px 35px;
  overflow: auto;

  color: #d8d8d9;

  background-color: #011c40;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  grid-column: 1/-1;
  grid-row: 1/2;
  scrollbar-color: #ffffff #808080;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #808080;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20px;
  }

  @media (max-width: $tablet-size-max) {
    max-width: 309px;
    padding: 30px 35px 34px;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 270px;
    padding: 30px 25px 34px;
  }
}

.catalog__product-info h3 {
  position: static;
  z-index: 0;
}

.catalog__product-info dl {
  margin-top: 13px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 20px;
}

.catalog__product-info dt {
  font-weight: 500;
  color: #f9fbfd;
}

.catalog__product-info dd {
  margin: 0 0 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__item:hover .catalog__photo,
.catalog__item:focus-within .catalog__photo {
  z-index: -1;

  opacity: 0;
}

.catalog__item:hover .catalog__product-info,
.catalog__item:focus-within .catalog__product-info {
  z-index: 1;

  opacity: 1;
}

.catalog__button {
  margin-top: auto;
  padding: 11px;

  text-align: center;

  border: none;
}
