.contacts {
  padding-top: 120px;
  padding-bottom: 123px;

  background-color: $alice-blue;
}

.contacts__wrapper {
  display: grid;

  grid-template-columns: 48% 52%;
  grid-template-rows: 1fr 1fr;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 77px;
  padding-left: 104px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $tangaroa;

  grid-column: 2/-1;
  grid-row: 1/2;
}

.contacts ul {
  padding-left: 103px;

  grid-column: 2/-1;
  grid-row: 2/-1;
}

.contacts__map-wrap {
  height: 306px;

  grid-column: 1/2;
  grid-row: 1/-1;
}

.contacts address {
  display: block;
  margin-top: 10px;
  margin-bottom: 23px;
  padding-right: 30px;
  padding-left: 28px;

  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $tangaroa;
  text-decoration: none;

  background: left top no-repeat url("../img/address.svg");
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $color-neon-blue;
  }
}

.contacts a {
  display: block;
  padding-left: 30px;

  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;
  text-decoration: none;

  background: left top no-repeat url("../img/phone.svg");
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $color-neon-blue;
  }
}

.contacts__map {
  display: block;
  width: 600px;
  max-width: 100%;
  // height: 450px;
  height: 306px;

  border: 0;
}

@media (max-width: $mobile-size-max) {
  .contacts__map {
    max-width: 100%;
  }
}
