.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $alice-blue;

  @media (max-width: $tablet-size-max) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.contacts__wrapper {
  display: grid;

  gap: 20px 100px;
  grid-template-columns: repeat(2, auto);

  @media (max-width: $tablet-size-max) {
    gap: 20px 30px;
  }

  @media (max-width: $mobile-size-max) {
    grid-template-columns: 1fr;
  }
}

.contacts__map-wrap {
  width: 560px;
  height: 306px;

  @media (max-width: $tablet-size-max) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile-size-max) {
    order: 1;
    width: 100%;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;

  background-color: $golden-sand;
  border: 0;
}

.contacts__text {
  padding-top: 56px;

  @media (max-width: $tablet-size-max) {
    padding-top: 48px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 0;
  }
}

.contacts p {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $tangaroa;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 27px;
  }
}

.contacts address {
  display: block;
  margin-bottom: 23px;
  padding-left: 29px;

  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $tangaroa;
  text-decoration: none;

  background-image: url("../img/address.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;

  @media (max-width: $tablet-size-max) {
    background-position: left 0 top 5px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $color-neon-blue;
  }
}

.contacts a {
  padding-left: 30px;

  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;
  text-decoration: none;

  background: left top no-repeat url("../img/phone.svg");
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $color-neon-blue;
  }
}
