.footer {
  padding-top: 15px;

  background-color: $tangaroa;
}

.footer__wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 45px;
}

.footer__logo {
  margin-right: 40px;
}

.footer__main-nav {
  margin-right: 348px;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.footer__social-list li {
  align-self: center;
}

.footer__social-list li:not(:last-child) {
  margin-right: 27px;
}

.footer__social {
  fill: $alice-blue;
}

.footer__social-list li:hover .footer__social,
.footer__social-list li:focus .footer__social {
  fill: $java;
}

.footer__social-list li:active .footer__social {
  opacity: 0.5;
}

@media (max-width: $tablet-size-max) {
  .footer__wrapper {
    padding-top: 27px;
  }

  .footer__logo {
    margin-right: 24px;
    padding-top: 7px;
  }

  .footer__main-nav {
    margin-right: 87px;
  }

  .footer__main-nav a {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__social-list {
    padding-top: 5px;
  }

  .footer__social-list li:not(:last-child) {
    margin-right: 20px;
  }

  .footer__social {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

@media (max-width: $mobile-size-max) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__main-nav {
    margin-right: 0;
  }

  .footer__social-list {
    padding-top: 23px;
  }
}
