.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $alice-blue;
}

.main-nav button {
  background-color: transparent;
  border: none;
  display: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $pattens-blue;
  }
}

@media (max-width: $vp-375) {
  .main-nav button {
    display: block;
  }
}
