.main-nav {
  display: flex;
}

.main-nav__burger {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $alice-blue;
}

@media (max-width: $vp-375) {
  .main__nav {
    grid-row: 2;
  }
  
  .main-nav__list {
    display: none;
  }

  .is-open {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .is-mobile-menu {
    color: $tangaroa;
  }
}
