.page-header {
  background-color: $color-neon-blue;
  background-image: url("../../img/background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
}

.page-header__wrapper {
  display: flex;
}
