.page-header {
  background-color: $dark-cerulean;
  background-image: url("../../img/background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
}

.page-header__logo {
  fill: $alice-blue;
  width: 70px;
  height: 38px;
}

.page-header__burger {
  display: none;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

@media (max-width: $tablet-size-max) {
  .page-header__logo {
    width: 42px;
    height: 22px;
  }
}

@media (max-width: $mobile-size-max) {
  .page-header__logo {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: $vp-375) {
  .page-header {
    background-image: url("../../img/background-mobile.jpg");
    height: 500px;
  }

  .page-header__popup {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    transition: background-color 1s;
    z-index: 10;
    height: 568px;
    width: 90%;
  }

  .page-header__wrapper {
    justify-content: space-between;
    // background-color: transparent;
    // z-index: 10;
    // height: 568px;
    // width: 90%;
    // position: fixed;
    // right: 0;
    // top: 0;
  }

  .page-header__burger {
    display: block;
    background: url(../img/burger.svg) no-repeat;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
    width: 24px;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

  .is-active {
    background: url(../img/close.svg) no-repeat;
    transition: background 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .is-logo-open-menu {
    fill: $tangaroa;
    transition: fill 3s;
  }

  .is-popup-open {
    background-color: $alice-blue;
    transition: background-color 1s;
  }

  .is-mobile-open {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
  }

  .is-mobile-open nav{
    grid-row: 2/-1;
  }
}
