.page-header {
  background-color: $dark-cerulean;
  background-image: url("../../img/background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-desktop@2x.jpg");
  }
}

.page-header__burger {
  display: none;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

@media (max-width: $tablet-size-max) {
  .page-header__wrapper {
    padding-top: 24px;
  }

  .page-header {
    background-image: url("../../img/background-tablet.jpg");
    height: 638px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-size-max) {
  .page-header {
    background-image: url("../../img/background-mobile.jpg");
    height: 500px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-mobile@2x.jpg");
    }
  }

  .page-header__popup {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    transition: background-color 0.5s;
    // z-index: 10;
    height: 568px;
    width: 89%;
  }

  .page-header__wrapper {
    justify-content: space-between;
    padding-top: 20px;
  }

  .page-header__burger {
    display: block;
    background: url(../img/burger.svg) no-repeat;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
    width: 24px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 4px;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

  .is-active {
    background: url(../img/close.svg) no-repeat;
    transition: background 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 14px;
    margin-top: 3px;
  }

  .is-popup-open {
    background-color: $alice-blue;
    transition: background-color 0.5s;
  }

  .is-mobile-open {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
  }

  .is-mobile-open nav{
    grid-row: 2/-1;
  }
}
