.trip {
  padding: 120px 0;

  background-color: $alice-blue;
}

.trip__wrapper {
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}

.trip__wrapper h2 {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $tangaroa;

  grid-column: 1/2;
  grid-row: 1/2;
}

.trip__wrapper p {
  margin-top: -29px;
  margin-bottom: 0;
  padding-right: 60px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  grid-column: 1/2;
  grid-row: 2/-1;
}

.trip__image {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: end;
}

@media (max-width: $tablet-size-max) {
  .trip {
    padding-top: 100px;
    padding-bottom: 94px;
  }

  .trip__image {
    width: 324px;
    height: 264px;
  }

  .trip__wrapper h2 {
    align-self: start;
    margin-top: -10px;
    padding-right: 125px;

    font-size: 26px;
    line-height: 140%;
  }

  .trip__wrapper p {
    margin-top: -57px;
    padding-right: 15px;
  }
}

@media (max-width: $mobile-size-max) {
  .trip {
    padding-top: 67px;
    padding-bottom: 65px;
  }

  .trip__wrapper {
    display: block;
  }

  .trip h2 {
    margin-bottom: 72px;

    font-size: 24px;
  }

  .trip__wrapper p {
    margin-bottom: 34px;
    padding-right: 9px;
  }

  .trip__image {
    width: 290px;
    height: 186px;
    margin: auto;
  }
}
