.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: $tablet-size-max) {
  .container {
    max-width: 1023px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (max-width: $mobile-size-max) {
  .container {
    max-width: 767px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
